.landing-container {
  margin: 7% 0 0 0;
  align-content: center;
  text-align: center;

  &__emoji {
    display: inline-block;
    &__image {
      width: 500px;
    }
  }

  &__starting {
    display: inline-block;
    margin: 6% 0 5% 0;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
  }

  &__timer {
    margin: 0 0 1% 0;
    text-align: right !important;
    &__image {
      display: inline-block;
      width: 40px;
    }
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #000000;
    transition: width .6s ease;
  }

  &__clock {
    display: inline-block;
    margin: 1% 0 0 0;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 481px) {
  .landing-container {
    margin: 10% 0 0 0;
    &__emoji {
      &__image {
        width: 400px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .landing-container {
    margin: 40% 0 0 0;
    &__emoji {
      &__image {
        width: 200px;
      }
    }
    &__starting {
      font-size: 1.5em;
    }
  }
}

@media only screen and (min-width: 2200px) {
  .landing-container {
    margin: 20% 0 0 0;
    &__emoji {
      &__image {
        width: 700px;
      }
    }

    &__starting {
      font-size: 4em;
    }
  
    &__clock {
      font-size: 1.5em;
    }
  }
}
