.home-container {
  margin: 3% 2% 0 2%;
  align-content: center;
  text-align: center;

  &__ubc {
    display: inline-block;
    text-align: left;
    &__image {
      width: 80px;
      box-sizing: border-box;
      box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
      border-radius: 10px;
    }
  }

  &__clock {
    display: inline-block;
    margin: 1% 0 0 0;
  }

  &__red_circle {
    margin: 4px 0 0 0;
    text-align: right;
    &__image {
      display: inline-block;
      width: 17px;
    }
  }

  &__topic {
    background-color: #000000;
    border-radius: 20px;
    padding: 5px 0;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }

  &__lock {
    margin: 0 0 0 0;
    text-align: right;
    &__image {
      position: relative;
      display: inline-block;
      width: 70px;
    }
    &__red_circle {
      position: absolute;
      z-index: 10;
      display: inline-block;
      width: 30px;
      color: #ffffff;
      background-color: #ff0000;
      border-radius: 100%;
      border: 3px solid #ffffff;
      margin: 40px 0 0 -38px;
      padding: 0 7px 0 0;
    }
  }

  &__emoji {
    display: inline-block;
    margin: 5% 0 0 0%;
    text-align: right;
    &__image {
      width: 150px;
    }
  }

  &__question {
    margin: 5% 0 15% 0;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 30px;
    font-weight: bolder;
    padding: 40px 0;
    &__nothing {
      background-color: #ffffff;
      color: #ffffff;
    }
  }

  &__like {
    display: inline-block;
    margin: 0 0 0 0;
    text-align: right;
    &__image {
      width: 80px;
    }
  }

  &__answer {
    display: inline-block;
    margin: 0 0 0 0;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 30px;
    font-weight: bolder;
    padding: 20px 0;
    background-color: #f89335;
  }

  &__nothing {
    margin: 19px 0 0 0;
    position: relative;
    padding: 20px 0;
    background-color: #ffffff;
    color: #ffffff;
  }

  &__timer {
    margin: 9% 0 1% 0;
    text-align: right !important;
    &__image {
      display: inline-block;
      width: 40px;
    }
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #000000;
    transition: width .6s ease;
  }

  &__end {
    margin: 19% 0 0 0;
    &__text {
    margin: 0 0 2% 0;
    }
  }

  .footer {
    margin: 0 0 1% 0;
    position: fixed;
    bottom: 0;
    width: 95%;
  }
}

@media only screen and (max-width: 950px) {
  .home-container {
    &__ubc {
      &__image {
        width: 45px;
      }
    }
  
    &__clock {
      display: none;
    }
  
    &__lock {
      &__image {
        width: 45px;
      }
    }
  
    &__emoji {
      margin: 10% 0 0 0%;
      text-align: center;
      &__image {
        width: 120px;
      }
    }
  
    &__question {
      margin: 5% 2% 15% 2%;
    }
  
    &__like {
      text-align: center;
      &__image {
        width: 40px;
      }
    }
  
    &__end {
      margin: 40% 0 0 0;
    }
  }
}

@media only screen and (min-width: 1800px) {
  .home-container {
    .fluid {
      max-width: 2500px;
    }

    &__question {
      margin: 5% 6% 15% 2%;
    }

    &__like {
      margin: 5% 0 0 0;
      &__image {
        width: 80px;
      }
    }
  }
}
